<h1>Dashboard</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Products</h3>
  </div>
  <div class="panel-body">
    Total products: <%= @num_products %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Categories</h3>
  </div>
  <div class="panel-body">
    Total categories: <%= @num_categories %>
  </div>
</div>