<h1>Dashboard</h1>

<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= link_to 'Products', [:admin, :products] %>
    </h3>
  </div>
  <div class="panel-body">
    Total products: <%= @num_products %>
  </div>
</div>

<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= link_to 'Categories', [:admin, :categories] %>
    </h3>
  </div>
  <div class="panel-body">
    Total categories: <%= @num_categories %>
  </div>
</div>